<footer th:fragment="footer" class="about-footer">
  <div class="footer-container">
    <div class="footer-info">
      <a th:href="@{/home}" class="logo">SriLanka<span>Card</span></a>
      <p>O presente perfeito, a um clique de distância.</p>
    </div>

    <div class="footer-links">
      <h3>Empresa</h3>
      <ul>
        <li><a th:href="@{/sobre}">Sobre nós</a></li>
      </ul>
    </div>

    <div class="footer-links">
      <h3>Suporte</h3>
      <ul>
        <li><a th:href="@{/faq}">FAQ</a></li>
        <li><a th:href="@{/contato}">Contato</a></li>
      </ul>
    </div>

    <div class="footer-social">
      <h3>Siga-nos</h3>
      <div class="social-icons">
        <a href="https://i.pinimg.com/736x/34/bf/c4/34bfc4334bc193bd2538e594703fd1f7.jpg">Facebook</a>
        <a href="https://i.pinimg.com/236x/2f/c5/42/2fc5429cc937124e13e1b4ff059bc1c5.jpg">Instagram</a>
        <a href="https://img2.lovecell.com.br/0f46327f57a44323347656afda8dc103f1941db8a31aaf7cc859123f919f80b7.webp">Twitter</a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 SriLankaCard. Todos os direitos reservados.</p>
  </div>
</footer>
