<header th:fragment="header" class="navbar">
    <div class="navbar-container">
        <a th:href="@{/}" class="logo" id="logo-link">SriLanka<span>Card</span></a>

        <nav class="nav-links">
            <ul>
                <li><a th:href="@{/giftcard}">GiftCards</a></li>
                
            <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a th:href="@{/painel-admin}" class="admin-panel-link">Painel Admin</a>
            </li>
            </ul>
        </nav>

        <div class="nav-actions">
            <div id="auth-container">
                <a th:href="@{/login}" class="login-link">Login</a>
                <a th:href="@{/signup}"><button class="cta-button">Cadastrar</button></a>
            </div>

            <a th:href="@{/cart}" class="cart-link" aria-label="Carrinho de Compras">
                <img th:src="@{/img/carrinho.png}" alt="shopping-cart-icon">
            </a>
        </div>
        <div id="user-menu" class="user-menu hidden">
            <div class="user-menu-card">
                <div class="user-menu-header">
                    <div id="user-menu-name"></div>
                    <div id="user-menu-email"></div>
                </div>
                <div class="user-menu-actions">
                    <a href="/meu-perfil" class="user-menu-btn">Perfil</a>
                    <a href="/meus-pedidos" class="user-menu-btn secondary">Histórico de compras</a>
                    <div class="user-menu-footer-actions">
                        <button type="button" class="user-menu-btn danger" onclick="logoutUser()">Desconectar</button>
                        <button id="user-menu-close" class="user-menu-close">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
