<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GiftCards - SriLankaCard</title>

  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/giftcard.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>

<th:block th:replace="~{fragments/header :: header}"></th:block>

<main class="giftcards-main">

  <section class="promo-banner">
    <div class="banner-content">
      <h2>20% OFF EM TODOS OS GIFT CARDS</h2>
      <a th:href="@{/comprar}" class="buy-now-button">Comprar Agora ></a>
    </div>
  </section>

  <div class="page-container">

    <aside class="sidebar">
      <h3>Categorias</h3>
      <ul class="category-list">
        <li><a th:href="@{/giftcards/geral}">Geral</a></li>
        <li><a th:href="@{/giftcards/musica}">Música</a></li>
        <li><a th:href="@{/giftcards/entretenimento}">Entretenimento</a></li>
        <li><a th:href="@{/giftcards/eletronicos}">Eletrônicos</a></li>
        <li><a th:href="@{/giftcards/alimentacao}">Alimentação</a></li>
        <li><a th:href="@{/giftcards/outros}">Outros produtos</a></li>
      </ul>
    </aside>

    <div class="main-content">

      <div class="sort-bar">
        <div class="search-input">
          <input type="text" placeholder="Pesquisar por um produto...">
          <button><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></button>
        </div>
        <div class="sort-by">
          <span>Ordenar por:</span>
          <select>
            <option>Preço: Baixo a Alto</option>
            <option>Preço: Alto a Baixo</option>
            <option>Mais vendidos</option>
          </select>
        </div>
      </div>

      <div class="product-grid">

        <div class="product-card">
          <img th:src="@{/img/spotify.png}" alt="Logo Spotify" class="product-logo">
          <div class="product-details">
            <h3>Spotify</h3>
            <p>R$ 50,00</p>
          </div>
        </div>

        <div class="product-card">
          <img th:src="@{/img/shopee.jpg}" alt="Logo Shopee" class="product-logo">
          <div class="product-details">
            <h3>Shopee</h3>
            <p>R$ 50,00</p>
          </div>
        </div>

        <div class="product-card">
          <img th:src="@{/img/steam-gift-card.png}" alt="Logo Steam" class="product-logo">
          <div class="product-details">
            <h3>Steam</h3>
            <p>R$ 100,00</p>
          </div>
        </div>

        <div class="product-card">
          <img th:src="@{/img/ifood.png}" alt="Logo Ifood" class="product-logo">
          <div class="product-details">
            <h3>Ifood</h3>
            <p>R$ 20,00</p>
          </div>
        </div>

        <div class="product-card">
          <img th:src="@{/img/apple-gift-card.png}" alt="Logo apple" class="product-logo">
          <div class="product-details">
            <h3>Apple</h3>
            <p>R$ 50,00</p>
          </div>
        </div>

        <div class="product-card">
          <img th:src="@{/img/uber.png}" alt="Logo Uber" class="product-logo">
          <div class="product-details">
            <h3>Uber</h3>
            <p>R$ 100,00</p>
          </div>
        </div>

        <div class="product-card">
          <img th:src="@{/img/netflix.jpg}" alt="Logo Netflix" class="product-logo">
          <div class="product-details">
            <h3>Netflix</h3>
            <p>R$ 50,00</p>
          </div>
        </div>

        <div class="product-card">
          <img th:src="@{/img/playstation-gift-card.png}" alt="Logo Playstation" class="product-logo">
          <div class="product-details">
            <h3>Playstation</h3>
            <p>R$ 20,00</p>
          </div>
        </div>

        <div class="product-card">
          <img th:src="@{/img/paramount.jpg}" alt="Logo Paramount" class="product-logo">
          <div class="product-details">
            <h3>Paramount</h3>
            <p>R$ 30,00</p>
          </div>
        </div>

        <div class="product-card">
          <img th:src="@{/img/xbox.png}" alt="Logo Xbox" class="product-logo">
          <div class="product-details">
            <h3>Xbox</h3>
            <p>R$ 100,00</p>
          </div>
        </div>

        <div class="product-card">
          <img th:src="@{/img/airbnb.png}" alt="Logo Airbnb" class="product-logo">
          <div class="product-details">
            <h3>AirBNB</h3>
            <p>R$ 20,00</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</main>

</body>
</html>