<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SriLanka Card</title>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/homeStyle.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>

<th:block th:replace="~{fragments/header :: header}"></th:block>

<main class="hero">
    <div class="hero-content">
        <h1>O PRESENTE PERFEITO</h1>
        <p>Selecione um cartão, personalize e surpreenda quem você ama.</p>
        <div class="hero-buttons">
            <a href="/giftcard" class="btn primary">Explorar Cartões</a>
        </div>
    </div>
</main>

<th:block th:replace="~{fragments/footer :: footer}"></th:block>

<script th:src="@{/js/api.js}"></script>
<script th:src="@{/js/produtos.js}"></script>
<script th:src="@{/js/header.js}"></script>

</body>
</html>